@use "./../../styles/variables";
#user-circle-icon {
  font-size: 22px;
}

.toolbar {
  color: variables.$color-white;
  background-color: variables.$primary-color;
  .main-nav-link {
    &:hover {
      color: variables.$hover-color;
      text-decoration: none;
    }
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}
.main-header {
  @extend header;
  &.hidden {
    opacity: 0;
  }
  height: 56px;
}

.user_icon {
  color: #fff;
}

mat-toolbar {
  box-shadow: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: map-get(variables.$grid-breakpoints, md)) {
  .mat-drawer-transition .mat-drawer-backdrop {
    display: none;
  }
}
