<app-header></app-header>
<div class="content" role="main">
  <div>

    <br>
    <br>
    <br>
    <br>
    <h5 [routerLink]="['/']">
      User Role API
    </h5>
    <nav>
      <a
        [routerLink]="['/users']"
        routerLinkActive="active"
        >Users</a
      >
    </nav>
    <a
      *ngIf="loggedOut$ | async"
      (click)="signIn()"
      >Sign in</a
    >

    <a
      *ngIf="loggedIn$ | async"
      class="btn btn-outline-primary"
      (click)="signOut()"
      >Log out</a
    >
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
